/* index*/
#show_test_setting_links {
  position:relative;
  left:-4%;
  top:50px;
}

#h_test_list {
  position:relative;
  left:15%;
}

/* show*/
#button_pass_test {
  position:relative;
  left:50%;
  top:10px;
  margin-bottom: 50px;
}

#section_with_files_and_video {
  position:relative;
  left:12%;
}

#you_couldnt_try {
  position:relative;
  left:27%;
}
