/*new*/
#question_f {
  position:relative;
  top:50px;
}
#question_answer {
  position:relative;
  left:200%;
  top:-640px;
}

.test-settings-form {
  height: 600px;
}

.l_add_question {
  position:relative;
  top:40px;
}

#test_setting_categgory_id, #test_setting_subject_id, #test_setting_theme_id,
#b_save_test, #subject_id, #test_theme_id, #test_theme_select_box,
#button_pass_test {
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  color: White;
  background: #5bc0de;
  border: Black;
  height: 40px;
  width: 175px;
}

#b_save_test {
  position:relative;
  top:55px;
}

/*teachers*/
/*test_setting*/
/*index*/
#table_with_test_settings {
  position:relative;
  left:10.5%;
}

#test_setting_table_pagination {
  position:relative;
  left:36%;
}
