/*new*/
#question_f {
  position:relative;
  top:50px;
}
#question_answer {
  position:relative;
  left:750px;
  top:-670px;
}

.test-settings-form {
  height: 600px;
}

.l_add_question {
  position:relative;
  left:0px;
  top:40px;
}

#test_setting_categgory_id, #test_setting_subject_id, #test_setting_theme_id,
#b_save_test, #subject_id, #test_theme_id, #test_theme_select_box,
#button_pass_test {
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  color: White;
  background: #5bc0de;
  border: Black;
  height: 40px;
  width: 175px;
}

#b_save_test {
  position:relative;
  left:750px;
  top:-600px;
}

#b_back_test_setting_new {
  position:relative;
  top:70px;
}

/*index*/
#table_with_test_settings {
  position:relative;
  left:110px;
  top:0px;
}

#test_setting_table_pagination {
  position:relative;
  left:410px;
  top:0px;
}

#table_with_test_results {
  position:relative;
  left:150px;
  top:0px;
}
