/*new*/
#question_f {
  position:relative;
  top:50px;
}
#question_answer {
  position:relative;
  left:90%;
  top:-50px;
  padding: 15px;
}

.l_add_question {
  position:relative;
  top:40px;
}

#b-back-test-setting-new{
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 15px;
}

#test_setting_categgory_id, #test_setting_subject_id, #test_setting_theme_id,
#b-save-test, #b-update-test, #subject_id, #test_theme_id, #test_theme_select_box,
#button_pass_test {
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  color: White;
  background: #5bc0de;
  border: Black;
  height: 40px;
  width: 175px;
}

#b-save-test {
  position:relative;
  left:94%;
}

/*teachers*/
/*test_setting*/
/*index*/
#table-with-test-settings {
  td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #col-1 {
    width: 10%;
  }

  #col-2 {
    width: 14%;
  }

  #col-3 {
    width: 27%;
  }

  #col-4 {
    width: 27%;
  }

  #col-5 {
    width: 8%;
  }

  #col-6 {
    width: 8%;
  }

  #col-7 {
    width: 6%;
  }
}

#test_setting_table_pagination {
  position:relative;
  left:36%;
}

#table-with-news {
  position: relative;
  left: 4.6%;

  td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #col-1 {
    width: 20%;
  }

  #col-2 {
    width: 39%;
  }

  #col-3 {
    width: 15%;
  }

  #col-4 {
    width: 13%;
  }

  #col-5 {
    width: 13%;
  }
}
