<h2 id="title">Welcome to Ember.js</h2>
{{#if session.isAuthenticated}}
  <a {{ action 'invalidateSession' }}>Logout</a>
{{else}}
  {{#link-to 'login'}}Login{{/link-to}} or
  {{#link-to 'registration'}}Registration{{/link-to}}
{{/if}}

<div class="navbar-header">
  {{#link-to 'index' classNames='navbar-brand'}}
    Home
  {{/link-to}}
  {{#if session.isAuthenticated}}
    {{#if currentUserIsAdmin}}
      {{#link-to 'admin.tests' classNames='navbar-brand'}}
        Tests
      {{/link-to}}
    {{else}}
      {{#link-to 'tests' classNames='navbar-brand'}}
        Tests
      {{/link-to}}
    {{/if}}
  {{/if}}
</div>

{{outlet}}