/*index*/

#author, #main_part, #comment_created_at {
  background: #F7FBFF;
  padding-top: 5px;
  padding-left: 10px;
  border: 1px solid #0099FF;
}

#author {
  position:relative;
  top:8px;
}

#comment_created_at {
  position:relative;
  left:58.3%;
  top:8px;
}

#one_comment {
  margin-top: 10px;
  margin-bottom: 10px;
  position:relative;
  left:4%;
}

#comments_pagination {
  position:relative;
  left:28%;
}

#delete_part {
  position:relative;
  left:56.8%;
  top:0px;
}

#clean_suggestion {
  font-size: 1.7em;
  color: #A4A4A4;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}
