      /* index */
#admin-table-with-students {
  position:relative;
  left:26%;
}

#admin-student-table-pagination {
  position:relative;
  left:40%;
}

.select-user-category-id, #b_registration {
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  color: White;
  background: #5bc0de;
  border: Black;
  height: 40px;
  width: 192.5px;
}
