      /* index */
#admin_table_with_teachers {
  position:relative;
  left:24%;
}

#admin_teacher_table_pagination {
  position:relative;
  left:27%;
}

#admin-edit-teacher {
  height:480px;
}

.admin-edit-student {
  height:480px;
}
