// Place all the styles related to the AnswerSettings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#answer {
  position:relative;
  left:0%;
  top:0px;
}
