/*teachers*/
/*test_setting*/
/*new*/

/* students*/
/* index*/
#show_test_setting_links {
  position:relative;
  left:-200px;
  top:70px;
}

#h_test_list {
  position:relative;
  left:100px;
}

/* students*/
/* show*/
#button_pass_test {
  position:relative;
  left:420px;
  top:10px;
}

#section_with_files_and_video {
  position:relative;
  left:100px;
  top:0px;
}

#you_couldnt_try {
  position:relative;
  left:280px;
  top:0px;
}

/*teachers*/
/*test_setting*/
/*index*/
#table_with_test_settings {
  position:relative;
  left:110px;
  top:0px;
}

#test_setting_table_pagination {
  position:relative;
  left:410px;
  top:0px;
}
