// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search_field {
  height: 190px;
  position:relative;
  top:-7px;
  left: 1%;
  margin-bottom:0px;
}

.search_form {
  position:relative;
  left:1.5%;
  top:30px;
}

#search {
  height: 33px;
}

#clean_search {
  position:relative;
  left: 90%;
  top: -10px;
  float: center;
  margin-right: 10px;
  font-size: 1.7em;
  color: #A4A4A4;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

  &:hover::after {
    content: attr(data-title);
    font-size: 14px;
    color: black;
    left: 20%; top: 40%;
  }
}

#tiding_list {
  position:relative;
  top: 15px;
  left: -1.4%;
  width: 109%;
  height: 309px;
  margin-bottom: 72px;
}

#tiding_table_pagination {
  width: 110%;
  position:relative;
  left: -5%;
}

#main_new_field {
  padding: 15px 15px 15px 15px;
  position:relative;
  top: -7px;
  left: -1.0%;
  border-color: #5bc0de;

  background: #ccffff;
}

#panel_heading_main_new {
  position:relative;
  top: -15px;
  left: -2.2%;
  width: 104.5%;
  background: #5bc0de;
  color: #ffffff;
  border-color: #ccffff;
  h4 {
    color: #ffffff;
  }
}

#button-dropdown-admin {
  font-family: Arial;
  font-weight: bold;
  font-size: 18px;
  height: 40px;
}

#panel-heading-search {
  height: 60px;
  width: 110%;
  position:relative;
  left: -5%;
}

#panel-heading-news {
  height: 60px;
}

.header-in-panels {
  position:relative;
  top: -10px;
}

.main-new-hr {
  border-top: 1px solid #5bc0de;
}

.main-new-photo {
  margin: 10px 10px 10px 10px;
}
