// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*index*/
#search_field {
  height: 190px;
  margin-bottom:0px;
}

.search_form {
  position:relative;
  left:1.5%;
  top:30px;
}

#search {
  height: 33px;
}

#clean_search {
  position:relative;
  left: 85%;
  top: -10px;
  float: center;
  margin-right: 10px;
  font-size: 1.7em;
  color: #A4A4A4;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

  &:hover::after {
    content: attr(data-title);
    font-size: 14px;
    color: black;
    left: 20%; top: 40%;
  }
}

#main_new_field {
  padding: 15px 15px 15px 15px;
  border-color: #5bc0de;
  background: #ccffff;
}

#panel_heading_main_new {
  margin: -15px -15px 15px -15px;
  background: #5bc0de;
  color: #ffffff;
  border-color: #ccffff;
  h4 {
    color: #ffffff;
  }
}

#button-dropdown-admin {
  font-family: Arial;
  font-weight: bold;
  font-size: 18px;
  height: 40px;
}

#panel-heading-search {
  height: 60px;
}

#panel-heading-news {
  height: 60px;
}

.header-in-panels {
  margin-top: 10px;
}

.main-new-hr {
  border-top: 1px solid #5bc0de;
}

.main-new-photo {
  margin: 0px 10px 0px 10px;
}

#carusel-link-left {
  position:relative;
  top: 220px;
}

#carusel-link-right {
  position:relative;
  top: 220px;
}

#myCarousel {
  height: 480px;
  width: 100%;
  text-align: center;
}

.panel-body{
  .item > a > img {
    display: block;
    margin: 0 auto;
    height: 480px;
  }
}

#tiding-list-field {
  height: 309px;
  margin-top: 15px;
  margin-bottom: 72px;
}

#tiding_table_pagination {
  width: 120%;
  margin-left: -10px;
}

#list-tiding-headers {
  margin-left: -5px;
}
